body {
    background-color: black;
    margin: 0;
    font-family: "Parkinsans", sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
    padding: 10px 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.logo {
    margin-right: auto;
}

.logo img {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: transform 0.3s, color 0.3s;
}

.nav-links a:hover {
    transform: scale(1.2); /* Increased scale value */
    color: yellow;
}

.auth-links a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    transition: transform 0.3s, color 0.3s;
}

.auth-links a:hover {
    transform: scale(1.2); /* Increased scale value */
    color: yellow;
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height */
    text-align: center;
    color: white;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Center text */
}

#countdown-timer {
    font-size: 1.5em; /* Adjusted font size */
    margin-bottom: 20px; /* Adjusted margin */
    color: #ff7e5f;
    text-align: center; /* Center text */
}

.hero-content h1 {
    font-size: 3em; /* Adjusted font size */
    margin-bottom: 20px; /* Adjusted margin */
    text-align: center; /* Center text */
}

.hero-content p {
    font-size: 1.2em; /* Adjusted font size */
    margin-bottom: 20px; /* Adjusted margin */
    text-align: center; /* Center text */
}

.hero-content .btn {
    padding: 10px 20px; /* Adjusted padding */
    font-size: 1.2em; /* Adjusted font size */
    color: white;
    background-color: #ff7e5f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center; /* Center text */
}

.hero-content .btn:hover {
    background-color: #feb47b;
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px; /* Adjusted padding */
    background-color: #f4f4f4;
    color: black;
    text-align: center; /* Center text */
}

.about-content p {
    font-size: 1.2em; /* Adjusted font size */
    margin-bottom: 20px; /* Adjusted margin */
    max-width: 600px;
    text-align: center; /* Center text */
}

.about-content .btn {
    padding: 10px 20px; /* Adjusted padding */
    font-size: 1.2em; /* Adjusted font size */
    color: white;
    background-color: #ff7e5f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px; /* Adjusted margin */
    text-align: center; /* Center text */
}

.about-content .btn:hover {
    background-color: #feb47b;
}

.about-content p:last-of-type {
    font-size: 1.2em; /* Adjusted font size */
    margin-bottom: 10px; /* Adjusted margin */
    text-align: center; /* Center text */
}